* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    width: auto;
    height: auto;
    background-image: url('img/bg_reg.png');
    background-size: cover;
    padding 50px;
}
h1 {
    background-color: #fff;
    color: #242424;
    padding: 20px;
    margin: 0;
    border-radius: 25px;
}
form {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    margin: 20px auto;
    z-index: 1000;
}
label {
    display: block;
    margin-bottom: 10px;

}
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}
input[type="submit"] {
    background-color: rgba(255, 255, 255, 0.2);
    color: #000;
    border: rgba(255, 255, 255, 0.2);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.top-left,
.top-right {
    position: absolute;
    z-index: 1000;
    background: none;
    border: none;
    padding: 0;
}
.top-right {
    top: 1.5%;
    right: 2%;
}
p {
    margin-top: 10px;
}
a {
    text-decoration: none;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.25);
    color: rgba(0, 0, 0, 1);
    border-radius: 5px;
    white-space: nowrap;
}
a:hover {
    color: #000;
}
