<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_login.css') }}">
</head>
<body>
        <button type="submit" class="top-right">
            <img src="{{ url_for('static', filename='img/button_f.png') }}" alt="Кнопка с изображением" class="small-img">
        </button>
    <h1>Вход</h1>
    <form method="POST" action="/login" class="show">
        <label for="username"><a>Имя пользователя:</a></label>
        <input type="text" name="username" required><br><br>
        <label for="password"><a>Пароль:</a></label>
        <input type="password" name="password" required><br><br>
        <input type="submit" value="Войти">
        <a>Еще не зарегистрированы?</a>
        <a href="{{ url_for('register') }}">Зарегистрироваться</a>
    </form>
</body>
</html>
