<!DOCTYPE html>
<html>
<head>
    <title>Тур агенство PEP8</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_marsh.css') }}">
</head>
<body>
    <h1>Выбор маршрута</h1>
    <a href="profile">
        <img src="{{ url_for('static', filename='img/Button_regist.png') }}" alt="Профиль" class="profile-img">
    </a>
    <ul>
        {% for mash in mash_list %}
            <li>
                <span>{{ mash.name }} - {{ mash.voice }}</span>
                <a href="{{ url_for('add_to_order', mash_id=mash.id) }}">проголосовать</a>
            </li>
        {% endfor %}
    </ul>
    <h2>Подтверждение голоса:</h2>
    <a href="view_order">
        <img src="{{ url_for('static', filename='img/eye.png') }}" alt="Посмотреть голоса" class="eye-img">
    </a>
</body>
</html>
