<!DOCTYPE html>
<html>
<head>
    <title>Ваш заказ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_order.css') }}">
</head>
<body>
    <h1>Ваши голоса:</h1>
    <ul>
        {% for mash in order %}
            <li>{{ mash.name }} - {{ mash.voice }}</li>
        {% endfor %}
    </ul>
    <p>Итого: {{ total_price }}</p>
    <a href="{{ url_for('clear_order') }}">
        <img src="{{ url_for('static', filename='img/trash.png') }}" alt="Очистить голоса", class="clear">
    </a>
    <a href="{{ url_for('pay_order') }}">
        <img src="{{ url_for('static', filename='img/point.png') }}" alt="Очистить голоса">
    </a>
    <a href="{{ url_for('marsh') }}">
        <img src="{{ url_for('static', filename='img/backButton.png') }}" alt="Очистить голоса">
    </a>
</body>
</html>