<!DOCTYPE html>
<html>
<head>
    <title>Профиль пользователя</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_protfile.css') }}">
</head>
<body>
    <h1>Профиль пользователя</h1>
    <div class="profile-info">
        <img src="{{ url_for('static', filename='avatars/' + username + '.jpg') }}" alt="Аватарка" width="150">
        <form action="/upload_avatar" method="post" enctype="multipart/form-data" class="upload-form">
            <input type="file" name="avatar" id="avatar">
            <label for="avatar">Выбрать файл</label>
            <button type="submit" class="upload-button">Загрузить аватарку</button>
        </form>
        <p><strong>Имя пользователя:</strong> {{ username }}</p>
        <p><strong>Адрес электронной почты:</strong> {{ email }}</p>
        <p><strong>кол - во голосов:</strong> {{ balance }}</p>
        <p><strong>общ. пожертвование:</strong> {{ price }} руб.</p>
        <a href="https://t.me/RussianTravelPayment_bot">
            <button class="payment-button">Пополнить баланс</button>
        </a>

    </div>

    <div class="button-container">
        <a href="/marsh" class="menu-button">Вернуться к меню</a>
        <a href="/login" class="logout-button">Выход из аккаунта</a>
    </div>
</body>
</html>