<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_register.css') }}">
</head>
<body>
    <button type="submit" class="top-right">
        <img src="{{ url_for('static', filename='img/button_f.png') }}" alt="Кнопка с изображением" class="small-img">
    </button>
    <h1>Регистрация</h1>
    <form method="POST" action="/register" class="show">
        <p>
            Имя пользователя:<br>
            <input type="text" name="username">
        </p>
        <p>
            Email:<br>
            <input type="email" name="email">
        </p>
        <p>
            Пароль:<br>
            <input type="password" name="password">
        </p>
        <p>
            Подтвердите пароль:<br>
            <input type="password" name="confirm_password">
        </p>
        <p>
            <input type="submit" value="Зарегистрироваться">
        </p>
        <p>Уже зарегистрированы? <a href="{{ url_for('login_post') }}">Войти</a></p>
    </form>
</body>
</html>
