<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>МАРШРУТЫ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_routes.css') }}">
</head>
<body>
    <section>
        <div class="heading1">
            <h2>МАРШРУТЫ</h2>
        </div>
        <div class="left_num">
            <h3>02</h3>
        </div>
        <div class="right_num">
            <h3>02</h3>
        </div>

        <button id="goBackButton">
            <img src="{{ url_for('static', filename='img/backButton.png') }}" alt="Back">
        </button>

    </section>
    <div id="map-container">
        <div id="map"></div>
    </div>
    <script src="{{ url_for('static', filename='backButton.js') }}"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=40d1649f-0493-4b70-98ba-98533de7710b" type="text/javascript"></script>
    <script type="text/javascript">
        ymaps.ready(init);

        function init() {
            var map = new ymaps.Map('map', {
                center: [55.751574, 37.573856],
                zoom: 9
            });

            // Сделаем AJAX-запрос для получения координат из файла coords.txt
            fetch("/get_coordinates")
                .then(response => response.json())
                .then(data => {
                    var points = data.map(coords => new ymaps.GeoObject({
                        geometry: {
                            type: "Point",
                            coordinates: coords
                        }
                    }));
                    map.geoObjects.add(points);
                })
                .catch(error => console.error('Error:', error));
        }
    </script>
</body>
</html>
