<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ГОЛОСОВАНИЕ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_vote.css') }}">
</head>
<body>
    <section>
        <div class="heading1">
            <h2>ГОЛОСОВАНИЕ</h2>
        </div>
        <div class="left_num">
            <h3>03</h3>
        </div>
        <div class="right_num">
            <h3>03</h3>
        </div>

        <div>
            <div id="plotly-chart"></div>
        </div>

        <button id="goBackButton">
            <img src="{{ url_for('static', filename='img/backButton.png') }}" alt="Back">
        </button>
    </section>
    <script src="{{ url_for('static', filename='backButton.js') }}"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        // Получаем данные графика из JSON-строки, переданной из Flask
        var plot_data = {{ plot_json | safe }};

        // Отображаем график
        Plotly.newPlot('plotly-chart', plot_data);
    </script>
</body>
</html>
